.styleConteiner {
    width: 25%;
    height: 50%;
    flex-shrink: 0;

    display: inline-flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 8px;
    background: #FFF;

    /* Animação */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.styleConteiner:active {
    /* Reduz ligeiramente o tamanho ao clicar */
    transform: scale(0.95);
    /* Ajusta a sombra para simular o pressionamento */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.styleText {
    color: var(--Cinzas-Cinza-3, #747488);
    font-family: Nunito;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}