.screenBackground {
    background: var(--Cinzas-Cinza-8, #F8F8F9);
    min-width: 100%;
    min-height: 100vh;
    display: flex;

}

.screenAside {
    background: var(--Cinzas-Cinza-7, #F0F0F5);
    min-height: 100%;
    width: 6vw;
}

.positionSelectionedIcons {
    margin-top: 30px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 4px solid #DA0175;
}

.positionIcons {
    margin-top: 40%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styleSelectionedIconText {
    color: var(--principais-rosa-normal, #DA0175);
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.styleIconText {
    color: var(--Cinzas-Cinza-1, #343447);
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.styleUserName {
    color: var(--principais-verde-normal, #0E8750);
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.pageTitle {
    color: var(--principais-verde-normal, #0E8750);

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-top: 40px
}

.alingHeader {
    max-width: 100%;
    height: 1%;
    margin: 54px 30px 0 30px;
    padding: 0 7% 2% 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsla(153, 37%, 76%, 1);
}

.alingUserImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.alingUserName {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.alingNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5% 0 9%
}

.alingTitleImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navBarTitle {
    color: var(--Cinzas-Cinza-1, #343447);
    text-align: center;
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 600;
    padding-left: 16px
}

.alingSearchConteiner {
    display: flex;
    flex-direction: row;
}

.styleSearchConteiner {
    display: inline-flex;
    padding: 7px 8px;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border-radius: 10px;
    background: #FFF;

    margin-right: 100px;
    margin-left: 16px;


    fill: rgba(218, 1, 117, 0.05);
}

.styleSearchConteiner input {
    border: 0px;
    height: 100%;
    width: 100%;
    padding-left: 5px;
}

.styleSearchConteiner input:focus {
    border: none;
    outline: none;
    /* Remove também o contorno padrão ao focar */
}

.styleSearchConteiner input::placeholder {
    color: var(--Cinzas-Cinza-3, #747488);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}