.conteiner {
    display: flex;
    flex-direction: column;
    height: auto;
}

.stylePrincipalConteiner {
    background: #FFF;
    border-radius: 64px;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 16px;
    text-align: center;
    border-top: 1px solid hsla(233, 30%, 95%, 1);

}

.table th {
    padding: 15px;
    font-size: 18px;
}


.alingItens {
    background-color: #fff;
}

.styleItens {
    font-family: "Nunito", sans-serif;
    color: #3F3F55;
}

.styleClassification {
    font-family: "Nunito", sans-serif;
    color: #3F3F55;
    font-size: 18px;
}

.conteinerStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
}

.styleButtonText {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.tableText {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 23.4px */
}

.botaoRegisterCharge {
    display: flex;
    padding: 4px 56px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border: none;
    border-radius: 10px;
    background: var(--principais-rosa-normal, #DA0175);

    color: var(--Cinzas-Cinza-8, #F8F8F9);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 30px;
}